/* Container styles */
.app-container {
  text-align: center;
  padding: 20px;
}

.header-container {
  display: flex; 
  padding: 10px;
  justify-content: space-between;
  align-items: center; 
}
/* logo styles */
.logo {
  width: 150px; /* Adjust the width as needed */
  margin-left: 10px; /* Add some margin to separate the logo from the heading */
}

/* Title styles */
#app-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  animation: flickerAnimation 3s infinite;
}

/* Flicker animation */
@keyframes flickerAnimation {
  0%, 18%, 22%, 25%, 50%, 75%, 100% {
    opacity: 1;
  }
  
  20%, 24%, 23%, 49%, 74% {
    opacity: 0;
  }
}

/* Theme button styles */
.theme-button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  margin-bottom: 20px;
  margin-left: 10px;
}

.theme-button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.theme-button:hover::before {
  width: 9em;
}

/* Green theme */
.green {
  background-color: #baffc9;
}

/* Purple theme */
.purple {
  background-color: #cbc0ff;
}
