/* Container styles */
.app-container {
  text-align: center;
}

/* Title styles */
.title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: blink-animation 3s infinite alternate;
}

/* Blink animation */
@keyframes blink-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Button styles */
.theme-button {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Green theme */
.green {
  background-color: #7FFF00; /* Green */
}

/* Yellow theme */
.yellow {
  background-color: #FFFF00; /* Yellow */
}
